name: Build and release to releases

on: 
  push:
    branches:
      - main

jobs:
  release:
    name: Build and Publish
    runs-on: ubuntu-latest
    
    strategy: 
      matrix:
        self-contained: [false, true]
        platform: [win-x64, win-x86, win-arm64, linux-x64, linux-arm, linux-arm64, linux-musl-x64, osx-x64, osx-arm64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with: 
          dotnet-version: "9.0.x"
          
      - name: Build
        run: dotnet publish -c Release -r ${{ matrix.platform }} --self-contained ${{ matrix.self-contained }}
        
      - name: Rename folder
        run: mv ./bin/Release/net9.0/${{ matrix.platform }} ./bin/Release/RadioPlayerForDesktop
        
      - name: Pack to zip
        run: zip -r ./bin/Release/net9.0/RadioPlayerForDesktop-${{ matrix.self-contained == 'true' && 'portable' }}.zip ./bin/Release/net9.0/RadioPlayerForDesktop
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Radio Player For Desktop Release
          path: ./bin/Release/net9.0/RadioPlayerForDesktop-${{ matrix.self-contained == 'true' && 'portable' }}.zip