name: Build and release to releases

on: 
  push:
    tags:
      - "v*"
        
permissions:
  contents: write

jobs:
  release:
    name: Build and Publish
    runs-on: ubuntu-latest
    
    strategy: 
      matrix:
        self-contained: [false, true]
        platform: [win-x64, win-x86, win-arm64, linux-x64, linux-arm, linux-arm64, linux-musl-x64, osx-x64, osx-arm64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with: 
          dotnet-version: "9.0.x"
          
      - name: Build
        run: dotnet publish -c Release -r ${{ matrix.platform }} --self-contained ${{ matrix.self-contained }}
        
      - name: Rename folder
        run: mv ./bin/Release/net9.0/${{ matrix.platform }} ./bin/Release/net9.0/RadioPlayerForDesktop
        
      - name: Pack to zip
        run: |
          ZIP_NAME="RadioPlayerForDesktop-${{ matrix.platform }}"
          if [ "${{ matrix.self-contained }}" = "true" ]; then
            ZIP_NAME="${ZIP_NAME}-portable"
          fi
          cd ./bin/Release/net9.0
          zip -r ${ZIP_NAME}.zip RadioPlayerForDesktop
          echo "ZIP_NAME=${ZIP_NAME}" >> $GITHUB_ENV

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}
          path: ./bin/Release/net9.0/*.zip
  
  publish:
    name: Create Github Release
    runs-on: ubuntu-latest
    needs: release
    
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: ./artifacts
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Radio Player For Desktop ${{ github.ref_name }}
          files: ./artifacts/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}